[submodule "vendor/plugins/active_scaffold_sortable"]
	path = vendor/plugins/active_scaffold_sortable
	url = git://github.com/activescaffold/active_scaffold_sortable.git
[submodule "vendor/plugins/active_scaffold"]
	path = vendor/plugins/active_scaffold
	url = git://github.com/activescaffold/active_scaffold.git
[submodule "vendor/plugins/file_column"]
	path = vendor/plugins/file_column
	url = git://github.com/activescaffold/file_column.git
[submodule "vendor/plugins/calendar_date_select"]
	path = vendor/plugins/calendar_date_select
	url = git://github.com/timcharper/calendar_date_select.git
