<html>
  <head>
    <title>ActiveScaffold demo</title>
    <%= javascript_include_tag :defaults %>
    <%= active_scaffold_includes %>
  </head>
  <body>
    <%= %w[albums artists tracks].map { |link| link_to(link.titleize, "/#{link}") } * " | " %>
    <%= yield %>
  </body>
</html>